* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

@font-face {
  font-family: 'Product_Sans';
  src: url('/fonts/Product_Sans_Bold.ttf') format('opentype');
  font-style: bold;
}